<form action="/register" method="get">
  <input id="button" type="submit" value="Register"/>
</form>


<h1 align="center">Or</h1>

<form action="/login" method="post">
  <div>
    <label for="username">Username</label><br>
    <input id="input" type="text" name="username"/>
  </div>
  <br>
  <div>
    <label for="password">Password</label><br>
    <input type="password" name="password"/>
  </div>
  <br>
  <input id="login_button" type="submit" value="Login"/>

</form>