<h1>Register</h1>

<form action="/register" method="get">
  <input type="submit" value="Register"/>
</form>

<h1>Or Login</h1>

<form action="/login" method="post">
  <ul>
    <li>
      <label for="username">Username</label>
      <input type="text" name="username"/>
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="password"/>
    </li>
    <li>
      <input type="submit" value="Login"/>
    </li>
  </ul>
</form>